@import '@/assets/scss/define';

.pro-end-wrap {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  padding: j(16) 0;
}
.pro-end-img {
  @extend %db;
  width: j(410 * 0.25);
  height: j(160 * 0.25);
  opacity: 0.4;
}
