@import '@/assets/scss/define';

.user-section {
  @extend %df;
  @extend %aic;
  padding: j(16) j(24);
}
.user-avatar {
  @extend %br50;
  @extend %bsb;
  margin-right: j(15);
  border: 2px solid #fff;
  width: j(64);
  height: j(64);
  background-color: #f2f2f2;
}
.user-info {
  @extend %df1;
  @extend %c3;
}
.user-name {
  line-height: j(25);
  font-size: j(18);
}
.user-prompt {
  margin-top: j(3);
  font-size: j(13);
  line-height: j(18);
}
