@import '@/assets/scss/define';

.share-button {
  @extend %pf;
  @extend %cp;
  @extend %df;
  @extend %aic;
  @extend %fdc;
  @extend %jcc;
  @extend %dan;
  @extend %cp;
  @extend %ats;
  @extend %bsb;
  @extend %c9;
  @extend %r0;
  z-index: 9;
  border-radius: j(24) 0 0 j(24);
  bottom: j(32);
  font-size: j(10);
  width: j(48);
  height: j(48);
  background-color: #fff;
  padding: 0;
  line-height: 1;
  box-shadow: 0 0 j(5) j(2) rgba(0, 0, 0, 0.05);
  .iconfont {
    color: $color-primary;
    font-size: j(16);
    margin-bottom: j(2);
  }
}
