@import '@/assets/scss/define';

.pro-end-divider {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %c9;
  font-size: j(14);
  height: j(48);
  &::after,
  &::before {
    margin: 0 j(16);
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e8e8e8;
  }
}
