@import '@/assets/scss/define';

.size-cell {
  @extend %df;
  @extend %bsb;
  @extend %aic;
  @extend %ats;
  @extend %cp;
  padding: j(12) j(16);
  border-radius: j(8);
  margin: j(10) j(16) 0;
  background-color: #fff;
  .icon-arrow {
    @extend %cc;
  }
}
.size-cell-content {
  @extend %df1;
  margin-right: j(16);
}
.size-cell-title {
  @extend %c3;
  @include twno(2);
  font-size: j(15);
  line-height: j(22);
}
.size-tag {
  @extend %dib;
  @extend %cfff;
  @extend %pr;
  bottom: j(2);
  padding: 0 j(3);
  line-height: j(16);
  margin-right: j(5);
  font-size: j(10);
  background-color: $color-danger;
  border-radius: j(3) j(3) 0 j(3);
}
.size-cell-desc {
  @extend %c9;
  font-size: j(11);
  margin-top: j(4);
}
